/* noto-sans-kr-regular - latin_korean */
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Noto_Sans_KR/NotoSansKR-Light.otf"); /* IE9 Compat Modes */
    src: local("Noto Sans KR Light"), local("NotoSansKR-Light");
}
/* noto-sans-kr-regular - latin_korean */
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Noto_Sans_KR/NotoSansKR-Regular.eot"); /* IE9 Compat Modes */
    src: local("Noto Sans KR Regular"), local("NotoSansKR-Regular");
}
/* noto-sans-kr-500 - latin_korean */
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Noto_Sans_KR/NotoSansKR-Medium.otf.eot"); /* IE9 Compat Modes */
    src: local("Noto Sans KR Medium"), local("NotoSansKR-Medium");
}
/* noto-sans-kr-500 - latin_korean */
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Noto_Sans_KR/NotoSansKR-Medium.otf.eot"); /* IE9 Compat Modes */
    src: local("Noto Sans KR Medium"), local("NotoSansKR-Medium");
}
/* noto-sans-kr-700 - latin_korean */
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Noto_Sans_KR/NotoSansKR-Bold.eot"); /* IE9 Compat Modes */
    src: local("Noto Sans KR Bold"), local("NotoSansKR-Bold");
}

/* noto-sans-kr-990 - latin_korean */
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Noto_Sans_KR/NotoSansKR-Bold.eot"); /* IE9 Compat Modes */
    src: local("Noto Sans KR Bold"), local("NotoSansKR-Bold");
}
