/*================================================================================
    Item Name: Frest HTML Admin Template
    Version: 1.0
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
@import url(../notosanskr.css);

html {
    font-size: 13px;
}

.header-navbar,
.navigation,
body,
h1,
h2,
h3,
h4,
h5,
h6,
small,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.table,
.table th,
.table td,
.tooltip,
.list-group-item,
.popover {
    font-family: "Noto Sans KR", sans-serif;
}

.card .card-footer {
    font-family: "Noto Sans KR", sans-serif;
}

.calendar-wrapper
    .calendar-view
    .calendar-content
    .tui-full-calendar-popup-detail
    .tui-full-calendar-schedule-title {
    font-family: "Noto Sans KR", sans-serif;
}

label {
    font-size: 1rem;
}

.modal .modal-content .modal-header .modal-title {
    font-family: "Noto Sans KR", sans-serif;
}

.bottom-align-btn {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    right: 10px;
}

.separator {
    height: 0;
    margin: 15px 0;
    margin-left: -1.7rem;
    margin-right: -1.7rem;
    border-bottom: 1px solid #ebedf2;
}

.hide {
    display: none !important;
}

#device_list {
    position: relative;
    height: 100%;
    padding-right: 1rem;
}

.table td {
    padding: 0.5rem;
}

.btn-toolbar .btn {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.btn-circle.btn-sm {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 2px 1px 1px #2c2b2b;
    padding: 0px 5px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 3px 3px 1px #2c2b2b;
    padding: 0px 7px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 30px;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 5px 5px 2px #2c2b2b;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 40px;
    text-align: center;
}

.btn-floating-bottom {
    z-index: 10000;
    position: fixed;
    left: 240px;
    bottom: 20px;
}

.list-background-image {
    background: rgba(255, 255, 255, 0.1) url("../../images/list_background.png")
        bottom left no-repeat;
}

table {
    border-collapse: collapse;
    font-size: 12pt;
    table-layout: fixed;
}

td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tableFixHead {
    overflow-y: scroll;
    height: 670px;
}

.tableFixHead thead th {
    text-align: center;
    position: sticky;
    top: 0;
}

.td-center {
    text-align: center;
}
.td-left {
    text-align: left;
    padding-left: 10px;
}
.td-right {
    text-align: right;
    padding-right: 10px;
}

.tr-send {
    color: red;
    background-color: #ebf5c2;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6; /* Mozilla */
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.tr-receive {
    color: black;
    background-color: #ffffff;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6; /* Mozilla */
    opacity: 0.6;
    filter: alpha(opacity=60);
}
